# ディレクトリ内のすべてのファイルを無視：
build
coverage
test

# すべての Markdown ファイルを無視：
*.md

# .で始まるすべてのファイルを無視：
.*

# .で始まるすべてのファイルを無視：
out/static/*
out/news/*

# 現在のディレクトリとそのサブディレクトリに存在する全ての .xxx を無視：
**/.git
**/.svn
**/.hg
**/node_modules

# JSONファイルを無視：
package.json
package-lock.json
